<h3>{{test.name}}</h3>

<div ng-show="questions.length">
    <div ng-repeat="question in questions">
        <div class="col-md-10">
            <div class="col-md-10">
                <h4>{{$index + 1}}. {{question.name}}</h4>
            </div>
        </div>
        <br/>

        <div ng-show="question.type == 'ONE_ANSWER'">
            <div class="list-item">
                <div class="col-md-11" ng-repeat="answer in question.answers">
                    <div class="col-md-1">
                        <input type="radio" ng-model="question.questionAnswer" ng-value="answer"/>
                    </div>
                    <div class="col-md-9">
                        {{answer.name}}
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <div ng-show="question.type == 'MULTIPLE'">
            <div class="list-item">

                <div class="col-md-11" ng-repeat="answer in question.answers">
                    <div class="col-md-1">
                        <input type="checkbox" ng-model="answer.marked" ng-value="answer"/>
                    </div>
                    <div class="col-md-9">
                        {{answer.name}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="question.type == 'SHORT_ANSWER'">
            <textarea class="form-control" ng-model="question.questionAnswer"/>
        </div>
        <div ng-show="question.type == 'NUMBER'">
            <input class="form-control" ng-model="question.questionAnswer"/>
        </div>
    </div>
    <br>
    <div>
        <button class="btn btn-default" type="submit" ng-click="submitTest()">{{$root.msg['st.submitTest']}}</button>
    </div>
</div>
<div ng-show="!questions.length">
    <h3>No assigned tests</h3>
</div>