<div class="modal-header">
    <h1 ng-show="!create">{{'st.createGroup' | translate}}</h1>

    <h1 ng-show="create">{{'st.editGroup' | translate}}</h1>
</div>
<div class="modal-body groupModal">
    <form name="userGroup">
        <div class="form-group">
            <label class="col-md-3" for="name">{{'st.groupName' | translate}}</label>

            <div class="col-md-6">
                <input id="name" name="name" ng-model="group.groupName" class="form-control" type="text"
                       minlength="2" maxlength="20" required/>
            </div>
        </div>
        <br/>
        <br/>

        <div>
            <div class="col-md-6 pre-scrollable">
                <div ng-repeat="user in users">
                    <div class="col-md-8">{{user.firstName}} {{user.lastName}}</div>
                    <div class="col-md-3">
                        <button class="btn btn-default" ng-click="addUser($index, user)">
                            <span class="glyphicon glyphicon-plus"/>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 pre-scrollable">
            <div ng-repeat="user in groupUsers">
                <div class="col-md-8">{{user.firstName}} {{user.lastName}}</div>
                <div class="col-md-3">
                    <button class="btn btn-default" ng-click="removeUser($index, user)">
                        <span class="glyphicon glyphicon-remove"/>
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="userGroup.$invalid || groupUsers.length < 1" ng-click="save()">{{'st.save' | translate}}</button>
    <button class="btn btn-primary" ng-click="close()">{{'st.cancel' | translate}}</button>
</div>