<!DOCTYPE html>
<html ng-app="stApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <link rel="stylesheet" href="app/libs/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/libs/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="app/css/custom.css">
</head>
<body ng-controller="IndexCtrl" ng-cloak>
<div>
    <div class="alert-container">
        <alert class="alert-frame" ng-repeat="alert in alertList"
               type="{{alert.type}}" close="alertService.closeAlert($index)">{{alert.msg}}
        </alert>
    </div>
    <nav class="navbar" id="header">
        <div class="navbar-header navbar-brand">
            Student test
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/main">{{$root.msg['st.main']}}</a></li>
            <li ng-show="$root.user.role.name == 'ADMIN'"><a href="#/test">{{$root.msg['st.test']}}</a></li>
            <li ng-show="$root.user.role.name == 'ADMIN'"><a href="#/question">{{$root.msg['st.questions']}}</a>
            <li ng-show="$root.user.role.name == 'ADMIN'"><a href="#/users">{{$root.msg['st.users']}}</a></li>
            <li ng-show="$root.user.role.name == 'ADMIN'"><a href="#/userGroup">{{$root.msg['st.userGroup']}}</a></li>
            <li ng-show="$root.user.role.name == 'STUDENT'"><a href="#/solveTests">{{$root.msg['st.solveTests']}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <li><a href="#" ng-click="logout()">{{$root.msg['st.logout']}}</a></li>
        </ul>
    </nav>

    <div class="view" ng-view></div>


    <!--<div class="footer text-center">-->
    <!--2015 Copyright-->
    <!--</div>-->
</div>
<script src="app/libs/jquery/dist/jquery.js"></script>
<script src="app/libs/angular/angular.js"></script>
<script src="app/libs/angular-route/angular-route.js"></script>
<script src="app/libs/angular-resource/angular-resource.js"></script>
<script src="app/libs/angular-bootstrap/ui-bootstrap.js"></script>
<script src="app/libs/bootstrap/js/dropdown.js"></script>
<script src="app/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="app/components/services/modules.js"></script>
<script src="app/components/services/userSrv.js"></script>
<script src="app/components/services/questionSrv.js"></script>
<script src="app/components/services/paginationSrv.js"></script>
<script src="app/components/services/answerSrv.js"></script>
<script src="app/components/services/testSrv.js"></script>
<script src="app/components/services/userGroupSrv.js"></script>

<script src="app/components/modal/modules.js"></script>
<script src="app/components/modal/answerModal.js"></script>
<script src="app/components/modal/questionPreview.js"></script>
<script src="app/components/modal/questionAnswerModal.js"></script>
<script src="app/components/modal/userGroupModal.js"></script>
<script src="app/components/modal/testAssigningModal.js"></script>
<script src="app/components/modal/testPreview.js"></script>

<script src="app/components/filter/modules.js"></script>
<script src="app/components/filter/questionType.js"></script>

<script src="app/components/common/modules.js"></script>
<script src="app/components/common/alert.js"></script>

<script src="app/partials/modules.js"></script>
<script src="app/partials/question/question.js"></script>
<script src="app/partials/main/main.js"></script>
<script src="app/partials/users/users.js"></script>
<script src="app/partials/test/test.js"></script>
<script src="app/partials/userGroup/userGroup.js"></script>
<script src="app/partials/test/testSolution.js"></script>

<script src="app.js"></script>
</body>

</html>